

 <ul>
    <% for(var p of persons) { %>
    <% if(p.name == 'Tiger') {%>
        <li>This is <%= p.name %></li>
    <% } else {%>
        <li>This is not Toto but <%= p.name %></li>
    <% } %>
    <% } %>
 </ul>
 <h1>This is index page</h1>
 

 