<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>Layout</title>
</head>
<body>
    <%- body %> <!--body contain current url's page content -->
    <br>
    <%- include('part/onePart') %>
</body>
</html>